*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  /* width: 100%; */
  height: 100vh;
  background-color: #f2e7d5;
  background-image: linear-gradient(to right bottom, #040200c1, #2b2317ed),
    url(https://png.pngtree.com/png-clipart/20250202/original/pngtree-border-ring-abstract-gradient-orange-png-image_6832095.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #d9b882;
  transition: transform 0.4s ease-in-out;
  width: fit-content;
  padding: 3em;
  /* margin: 2rem 0 0 2 rem; */
}

.logo:hover {
  transform: scale(1.05);
  /* color: #fcf2e8; */
}

.logo_img {
  border-radius: 60%;
  border: 1px ridge #d9b882;
  width: 7rem;
  height: 7rem;
  box-shadow: 1px 1px 1px 1px #51432e22;
}

.logo_txt {
  font-size: 3.7rem;
}
.calltoaction {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(248, 246, 244);
  border: 3px solid #fff;
}

/* .calltoaction h2 {
  margin: 7rem 0;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.submit {
  margin-top: 1rem;
}

.calltoaction {
  text-align: left;
}

#name {
  margin-bottom: 1.5rem;
  border-radius: 5%;
  width: 20rem;
  height: 2.5rem;
  border: 1px ridge #d5b074e5;
  box-shadow: 0.5px 0px 0.2px 0.3px #766444;
}

#email {
  margin-bottom: 1.5rem;
  border-radius: 5%;
  width: 16rem;
  height: 2.5rem;
  border: 1px ridge #d5b074e5;
  box-shadow: 0.5px 0px 0.3px 0.3px #766444;
}
#message {
  margin-bottom: 1.5rem;
  border-radius: 5%;
  width: 19rem;
  height: 2.5rem;
  border: 1px ridge #d5b074e5;
  box-shadow: 0.5px 0px 0.3px 0.3px #766444;
} */
