@media (max-width: 760px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 50%;
  }

  body {
    /* padding: 3rem; */
    width: 100%;
    height: 100%;
  }

  header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .nav_bar {
    flex-direction: column;
    gap: 2rem;
  }

  .intro_dos p {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
  }
  /* .sect_uno {
    height: 100%;
  } */

  .product {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 8rem;
  }

  .location {
    flex-direction: column;
    gap: 4rem;
  }

  .testimonials {
    flex-direction: column;
  }

  footer {
    /* size: 50%; */
    /* font-size: 30%; */
    height: 70rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }

  .footer_links {
    grid-template-rows: 5, 1fr;
    grid-template-columns: 1fr;
    /* gap: 0.5rem; */
  }
  .link {
    text-align: center;
  }
  .icon {
    flex-direction: row;
  }

  .copy {
    /* position: relative; */
    margin-bottom: 2rem;
  }
}
