@import url("/CSS/login.css");

.inp {
  transition: border-color 0.2s ease, opacity 0.2s ease;
}

.inp:hover {
  opacity: 1;
  border-color: #160c02e0;
}

.link_forgot {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #160c02e0;
}

.link_forgot:hover {
  color: #805122;
}
