*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  max-width: 100%;
  position: relative;
  /* margin: 1rem 4rem; */
  /* padding: 1rem 4rem; */
  background-color: #fffbf8;
  text-align: center;
  color: #160c02;
  font-weight: 600;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  color: #f7dfb8;
  /* overflow-x: hidden; */
  /* background-image: linear-gradient(#160c0277, #160c0277),
    url(https://i.pinimg.com/1200x/6a/e9/d1/6ae9d1e500ca9cbd7cf369a2fe0ceb20.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  border-bottom: ridge #f9e4d0 2px;
  border-bottom-right-radius: 1.7rem;
  border-bottom-left-radius: 1.7rem;
  padding: 4rem;
  padding-bottom: 0;
  animation-name: effects;
  /* animation-duration: infinite; */
  animation-duration: 10s;
  /* animation-timing-function: ease-in-out; */
  animation-delay: 200ms;
  animation-iteration-count: infinite;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* animation-play-state: paused; */
  /* animation-direction: reverse; */
  /* transition-property: animation-timing-function, animation-duration,
    animation-delay, animation-iteration-count, animation-direction,
    animation-name;
  transition-duration: 4s;
  transition-timing-function: ease; */
  /* transition: animation-timing-function 2s ease-in-out; */
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-decoration: none;
  color: #f7dfb8;
  transition: transform 0.4s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
  color: #fcf2e8;
}

.logo_img {
  border-radius: 60%;
  border: 1px ridge #d5b074e5;
  align-self: center;
  width: 6rem;
  height: 5.8rem;
  box-shadow: 1px 1px 1px 1px #51432e22;
}

.logo_txt {
  font-size: 3.5rem;
}

.top_btn {
  box-sizing: border-box;
  width: 25rem;
  height: 6.5rem;
  background-color: #efbc8a;
  color: #160c02;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 3rem;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  text-decoration: none;
  transition: background-color 0.5s ease;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #51432e85;
}

.top_btn:hover {
  background-color: #f7dfb8;
}

.top_btn:active {
  box-shadow: none;
  background-color: #ecae73;
  border: solid #47260635 1px;
}

.nav_bar {
  /* position: relative;
  top: 10rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9rem;
  /* margin-left: -3rem; */
  /* margin-top: 1rem; */
  /* overflow: hidden; */
  background-color: #fcf2e813;
  padding: 2em 5em;
  border-radius: 6rem;
  /* transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out; */
}

/* header:hover{
  transform: rotateX(1deg) rotateY(1deg) scale(1.02);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* padding-right: 5rem; */
}

.nav a {
  text-decoration: none;
  color: #ece3bd;
  font-size: 1.7rem;
  transition: all 0.1s ease-in-out;
  border-right: ridge #ece3bd 2px;
  padding-right: 1rem;
}

.nav a:last-child {
  border: none;
  padding: 0;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
  color: #fcf2e8;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

main {
  margin: 7rem;
}

.sweet_intro {
  text-align: left;
  line-height: 1.5;
  /* margin-top: 4rem; */
}

/* .sect_uno {
  height: 100vh;
  margin-top: 8rem;
} */
.sweet_product {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.sweet_product h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
}
.intro_uno {
  text-align: initial;
  position: relative;
  /* margin-left: 5rem; */
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.intro_uno h1 {
  font-size: 8rem;
  letter-spacing: 1.5px;
  margin-bottom: 5rem;
  font-weight: 700;
}

.intro_uno p {
  font-size: 2.3rem;
  line-height: 1.9;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.CTA {
  text-decoration: none;
  color: inherit;
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.CTA:hover {
  color: #fcf2e8;
  transition: 0.5s ease-in-out;
}
/* .CTA:active,
:visited {
  color: #fff;
} */

.intro_dos {
  padding-bottom: 2rem;
}
.intro_dos h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.intro_dos p {
  font-size: 2.5rem;
  line-height: 1.5;
}
.product {
  max-width: 100%;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  /* flex-direction: column; */
  gap: 8rem;
}
/* .pd {
  width: 100%;
  height: 100%;
} */
.product img {
  border: 0.5px ridge #4325063a;
  /* object-fit: fill; */
  border-radius: 5%;
  width: 28rem;
  height: 27rem;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
}

.product img:hover {
  transform: rotateX(5deg) rotateY(5deg) scale(1.04);
  box-shadow: 15px 15px 20px #160c021a;
}
/* .product img:active {
  box-shadow: 10px 10px 20px rgba(41, 24, 1, 0.224);
  transform: none;
  transition: 0.1s ease-in-out;
} */

.order {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;
}
.pd:hover .order {
  opacity: 1;
}

.product_cooperate img {
  background-color: #fff;
}
.product p {
  margin-top: 1.4rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.product h5 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #6d6a67;
  text-align: left;
}

.btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  background-color: #3d3c3b;
  /* text-align: center; */
  /* opacity: 0.8; */
  /* width: 4rem;
  height: 3rem; */
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid #312102;
  transition: background-color, opacity 0.5s ease;
}

.btn:hover {
  background-color: #151514ca;
  opacity: 0.8;
}

.btn:active {
  border: none;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #463720ac;
  transition: 0.8s ease-in-out;
}

.sweet_location h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}

.location a {
  font-size: 4rem;
  text-decoration: none;
  color: #fcf2e8;
  opacity: 0;
}

.lc {
  width: 50rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2rem;
  border: ridge 2px #f5d7b9b6;
}

.lc:hover a {
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.lc:hover {
  transform: rotateX(4deg) rotateY(4deg) scale(1.05);
  transition: 0.7s ease-in-out;
  box-shadow: 15px 15px 20px #160c022c;
}
.lagos {
  transition: all 0.5s ease-in-out;
  /* -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
}
.lagos:hover {
  background-image: linear-gradient(#160c0265, #160c0265),
    url(https://cms.forbesafrica.com/wp-content/uploads/2021/12/Forbes-Lagos-State-Supplement-Cover-Image-scaled.jpg);
  /* transition: 0.1s ease; */
}

.abuja {
  transition: all 0.5s ease-in-out;
}

.abuja:hover {
  background-image: linear-gradient(#160c028e, #160c028e),
    url(https://primeprogressng.com/wp-content/uploads/2025/05/aerial-view-bustling-city-intersection-600nw-2550886673.webp);
}

.uyo {
  transition: all 0.5s ease-in-out;
}
.uyo:hover {
  background-image: linear-gradient(#0402006e, #0402006e),
    url(https://www.ibomair.com/wp-content/uploads/2022/01/hl81gtkfqex41.jpg);
}

.lagos {
  background-image: url(https://cms.forbesafrica.com/wp-content/uploads/2021/12/Forbes-Lagos-State-Supplement-Cover-Image-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abuja {
  background-image: url(https://primeprogressng.com/wp-content/uploads/2025/05/aerial-view-bustling-city-intersection-600nw-2550886673.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.uyo {
  background-image: url(https://www.ibomair.com/wp-content/uploads/2022/01/hl81gtkfqex41.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.test {
  background-color: #efbc8a;
  border-radius: 2rem;
  width: fit-content;
  height: 35rem;
  text-align: left;
  padding: 2em;
  /* margin: 0 auto; */
  transition: all 0.5s ease-in-out;
}

.test:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px #160c020c;
}

.test h4 {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #806841cd;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* .test_span {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.test_head {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.test_img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: fill;
}
/* footer */
footer {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #efbc8a;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70rem;
  color: #6d5f49;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top: ridge 3px #f9e4d0;
}

.footer_logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.footer_logo a:hover {
  transform: scale(1.05);
}

.footer_img {
  /* align-self: center; */
  width: 5rem;
  height: 5rem;
}

.footer_txt {
  font-weight: 600;
  color: #703c0bb5;
  font-size: 3rem;
  padding-top: 0.3em;
}

.footer_links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer_links a {
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  color: #0402006e;
}

.footer_links a:hover {
  color: #432406;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.link_1 {
  text-align: left;
}
.link_4 {
  text-align: left;
}

.link_5 {
  text-align: left;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.icon svg {
  width: 5rem;
  height: 4rem;
}
.icon svg:hover {
  transform: scale(1.25);
  transition: 0.3s ease;
}
.icon a {
  text-decoration: none;
  /* fill: #160c02; */
}

.copy {
  position: absolute;
  font-size: 1.2rem;
  color: #31210241;
  font-weight: 600;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERY */

@media (max-width: 760px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 50%;
  }

  body {
    /* padding: 3rem; */
    width: 100%;
    height: 100%;
  }

  header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .intro_dos p {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
  }
  /* .sect_uno {
    height: 100%;
  } */

  .product {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 8rem;
  }

  .location {
    flex-direction: column;
    gap: 4rem;
  }

  .testimonials {
    flex-direction: column;
  }

  footer {
    /* size: 50%; */
    /* font-size: 30%; */
    height: 20rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 2rem;
  }

  /* .footer_links {
    flex-direction: column;
    gap: 0.5rem;
  } */
  .icon {
    flex-direction: column;
  }

  .copy {
    /* position: relative; */
    margin-bottom: 2rem;
  }
}

/* ANIMATIONS */

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://i.pinimg.com/1200x/6a/e9/d1/6ae9d1e500ca9cbd7cf369a2fe0ceb20.jpg);
    background-size: cover;
  }
  100% {
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://i.pinimg.com/1200x/6a/e9/d1/6ae9d1e500ca9cbd7cf369a2fe0ceb20.jpg);
    background-size: cover;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes effects {
  0% {
    /* background-position: center; */
    animation-timing-function: ease-out;
    /* transform: scale(1.05); */
    /* opacity: 1; */
    transition: background-image 2s ease-out;
  }
  25% {
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://img2.wallspic.com/crops/5/7/4/8/3/138475/138475-person_in_black_pants_and_black_and_white_sneakers-3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    animation-timing-function: ease-in;
    /* transform: scale(1.05); */
    /* opacity: 0.8; */
    transition: background-image 2s ease-in;
  }

  50% {
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://images.pexels.com/photos/1240892/pexels-photo-1240892.jpeg?cs=srgb&dl=pexels-mstudio-360817-1240892.jpg&fm=jpg);
    background-size: cover;
    /* background-position: center; */
    animation-timing-function: ease-out;
    /* transform: scale(1.05); */
    /* opacity: 1; */
    transition: background-image 2s ease-out;
  }

  75% {
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://rare-gallery.com/uploads/posts/376140-4k-wallpaper.jpg);
    background-size: cover;
    /* background-position: center; */
    animation-timing-function: ease-out;
    /* transform: scale(1.05); */
    /* opacity: 0.8; */
    transition: background-image 2s ease-in;
  }

  100% {
    background-image: linear-gradient(#160c0296, #160c0296),
      url(https://i.pinimg.com/1200x/6a/e9/d1/6ae9d1e500ca9cbd7cf369a2fe0ceb20.jpg);
    background-size: cover;
    /* background-position: center; */
    animation-timing-function: ease-in-out;
    transition: background-image 2s ease-out;
    /* transform: scale(1.05); */
    /* opacity: 1; */
    /* transition: transform 1s ease-in-out; */
  }
}
